body{
    /* background-image: url("../imgs/FondoBlanco.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
}

*{
    box-sizing: border-box;
}

.h1-size {
    font-size: 30px;
}

.form-control::-webkit-input-placeholder {
    color: #AAA !important;
}


/*Loader*/
/* ------------------------------------------- */
#tableRandom
     {
         display: none;
     }
     #uno
     {
         display: none;
         margin: 0px auto;
         text-align: center;
     }
     /* .card-body
     {
        margin: 0px auto;
        text-align: center;
     }
     .card-body p
     {
         text-align: center;
         font-size: 32px;
     } */
     .mb-4
     {
         text-align: center;
     }
   
  .loader-container{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
  }
   
  .loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #9e2e21;
    border-left-color: #9e2e21;
    border-radius: 50%;
    animation: loader 0.5s linear;
    animation-duration: 5s;
 
  }
   
  .loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #be7901;
    border-left-color: #be7901;
    border-radius: 50%;
    animation: loader2 0.5s linear;
    animation-duration: 5s;
  }
   
  @keyframes loader{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
   
  @keyframes loader2{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  /* ------------------------------------------- */
  /*Fin de Loader*/


header{
    width: 100vw;
    background-color: #9E2E21;
    background: -webkit-linear-gradient(to right,#9e2e21, #e24331);
    background: linear-gradient(to right,#9e2e21, #e24331);
    color: #fff;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #fff !important;
}

header a:hover {
    text-decoration: none;
}

.card-header{
    margin:0px;
    padding:0px;
    background-color: #fff;
}

p{
    font-size: 1.1em;
    margin-bottom: 2em;
    text-align: justify;
}

.errorSi{
    color: red;
    font-size: 0.85em;
}

 .btn-primary{
    color: #000;
    background-color: #D8A042;
    border-color: #b68838;
}

.btn-primary:hover{
    color: #000;
    background-color: #db8c03;/*#af8336; /*Oscuro*/
    border-color: #b68838;
}

.btn-primary.focus, .btn-primary:focus{
    color: #000;
    background-color: #db8c03; /*Oscuro mismo*/
    border-color: #b68838;
    box-shadow:0 0 0 .2rem rgba(182, 136, 56, 0.5);
}


.btn-primary.disabled, .btn-primary:disabled{
    color: #000;
    background-color: #D8A042; /*Normal todo*/
    border-color: #b68838;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #af8336;
    border-color: #be7901;
}


/* PARA CATEQUESIS */

.img-logo-alone{
    width: 80%;
    height: auto;
    padding: 0px;
}

.h1-form{
    color: #fff;
    padding: 10px;
    margin-bottom: 2rem;
    background-color: #8F2E27;
}

.inscripcionCardContainer {
    text-align: left;
}

.inscripcionCardContainer .inscripcionCard{
    box-shadow: 3px 3px 7px #BBB;
    transition: 0.25s ease-in-out box-shadow;
}

.inscripcionCardContainer .inscripcionCard:hover{
    box-shadow: none;
    transition: 0.25s ease-in-out box-shadow;
}

.btn-pcr{
    color: #FFF;
    background-color: #8F2E27;
    border: none;
}

.btn-pcr:hover{
    color: #FFF;
    background-color: #6d231e;
}

.btn-pcr.focus, .btn-pcr:focus{
    color: #FFF;
    background-color: #6d231e;
    box-shadow:0 0 0 .2rem rgba(218, 52, 40, 0.5);
}

.btn-pcr.disabled, .btn-pcr:disabled{
    color: #FFF;
    background-color: #8F2E27;
}

.btn-pcr:not(:disabled):not(.disabled):active, .btn-pcr:not(:disabled):not(.disabled).active,
.show > .btn-pcr.dropdown-toggle {
    color: #FFF;
    background-color: #913d37;
}
/*-----------------*/



/*---------- TARJETAS DE ESPERANZA  -------------------*/	

.cont-tarjetas {
	margin-top: 0px;
	margin-bottom: 2em;
    padding: 0px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec-tarjetas .cont-tarjetas li{
	margin: 1em;
	position: relative;
}

.sec-tarjetas .cont-tarjetas li img{
	width: 100%;
	margin: auto;
	border-radius: 3%;
	box-shadow: 4px 4px 8px #888;
	transition: 0.25s ease-in-out filter;
}

.radio-button-container {
    margin-bottom: 0.5em;
}

/*---------- FIN TARJETAS DE ESPERANZA  -------------------*/


/* PARA LA TARJETA DE AGRADECIMIENTO */
#card-headerCheck{
    border-bottom: none;
}

.card-footer{
    text-align: center;
}

h2{
    text-align: center;
}

#mediap{
    text-align: center;
    margin-bottom: 1.2em;
}

#fb{    
    color: #3b5998;
}

#tw{
    color: #00acee;
}

#yt{
    color: #c4302b;
}

#it{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.successButtons{
    margin-bottom: 1rem;
}

/*-------------------------------------*/


/* PARA LA LISTA DE FAMILIAS */
#listBody{
    background-image: url("../imgs/FondoBlanco.jpg");
    background-repeat: repeat;
    background-size: auto;
}

i[name="trash"]{
    cursor: pointer;
}

i[name="trash"]:hover{
    color: red;
}
/*---------------------------*/

footer{
    width: 100vw; 
    background-color: #9E2E21;
    background: -webkit-linear-gradient(to right,#9e2e21, #e24331);
    background: linear-gradient(to right,#9e2e21, #e24331);
    /* position: fixed; */
    left: 0px;
    bottom: 0px;
}


/*- Tablets -*/
@media (min-width: 768px)
{
  .logo{
    width: 50%;
  }
}

/*- Computadoras -*/
@media (min-width: 992px)
{
  .h1-size {
    font-size: 33px;
  }

  .successButtons{
    margin-bottom: 0px;
  }
}